<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <title>Welcome my way</title>
</head>
<body style="width: 50%; background : url(../images/39691473-way-wallpapers.jpg);background-size: cover;
background-repeat: no-repeat;">
<div th:replace="toolbar_worker_tools.html"></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div th:include="side_workers_tools.html"></div>
        <div class="col-md-7" style="top:0px">
            <!--<img src="../images/download.jpg" class="img-responsive" height="500" width="500" />-->
            <!--<img th:src="@{../images/39691473-way-wallpapers.jpg}" height="1440" width="2560"/>-->

        </div>
     </div>
</div>
</body>
</html>